<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="navbar-brand" href="{% url 'home:home' %}">Home</a>
            {% if request.user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'accounts:logout' %}">LogOut</a>
                {% if request.user.is_admin %}
                    <a class="navbar-brand" href="{% url 'products:objects' %}">Bucket</a>
                {% endif %}
            {% else %}
                <a class="navbar-brand" href="{% url 'accounts:register' %}">Register</a>
                <a class="navbar-brand" href="{% url 'accounts:login' %}">Login</a>
            {% endif %}
            <a class="navbar-brand" href="{% url 'orders:cart' %}">Cart {{ cart|length }}</a>
      </div>
    </div>
  </div>
</nav>